$main-dark-color: #131515;
$primary-color: #2B2C28;
$secondary-color: rgb(62, 64, 65);
$darker-blue: #339989;
$pale-blue: #7DE2D1;
$snow: #FFFAFB;

.translation-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 39em;
  width: 100%;
  margin-top: 1%;
  border: solid 2px
}

.specified-lang-sect {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
}

.source-lang-name {
  border: solid 1px;
  width: 50%;
}

.target-lang-name {
  border: solid 1px;
  width: 50%;
}