$main-dark-color: #131515;
$primary-color: #2B2C28;
$secondary-color: rgb(62, 64, 65);
$darker-blue: #339989;
$pale-blue: #7DE2D1;
$snow: #FFFAFB;

.intro-card {
  width: 90%;
  height: auto;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 10px 10px #888888;
  background-color: $snow;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5%;
  margin-top: 2%;
}

.intro-head {
  background-color: $primary-color;
  color: $pale-blue;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius:  5px 5px 0 0;
}

.intro-heading {
  margin-left: 3%;
  font-size: 1.5em
}

.intro-para {
  width: 100%;
  font-size: 1.2em;
}

.intro-message {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-self: center;
  width: 90%;
  margin-top: 1%;
}

.ordered-list {
  margin-top: 20px;
  font-size: 1.1em;
  margin-bottom: 2%;
}

.list-item {
  color: $primary-color;
  font-weight: bold;
  margin: 1%;
}