$main-dark-color: #131515;
$primary-color: #2B2C28;
$secondary-color: rgb(62, 64, 65);
$darker-blue: #339989;
$pale-blue: #7DE2D1;
$snow: #FFFAFB;

.results-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  clear: both;
  height: auto;
}

.results-header {
  margin-top: 1%;
  width: 100%;
}

.results-title {
  color: $pale-blue;
  width: 60%;
  background-color: $primary-color;
  padding-left: 15px;
  border-radius: 0 5px 5px 0;
  margin-bottom: 2%;
  font-family: 'Source Sans Pro',
  sans-serif;
}

.results-sect {
  display: flex;
  height: 88vh;
  overflow: scroll;
  margin-top: 1%;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 1%;
}

.results-label {
  background-color: $primary-color;
  color: $pale-blue;
  border-radius: 0 5px 5px 0;
  padding-left: 2%;
  width: 50%;
  font-family: 'Source Sans Pro',
  sans-serif;
}

.results-div {
  width: 100%;
  margin-top: 1%;
}

.source-section {
  width: 30%;
  display: flex;
  flex-flow: column; 
}

.source-method-section {
  height: 88vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.results-wrapper {
  width: 70%;
  border-left: solid 1px $main-dark-color;
}
