$main-dark-color: #131515;
$primary-color: #2B2C28;
$secondary-color: rgb(62, 64, 65);
$darker-blue: #339989;
$pale-blue: #7DE2D1;
$snow: #FFFAFB;

.intro-card {
  width: 90%;
  height: 15rem;
  margin: 20px;
  border: 1px solid $darker-blue;
  border-radius: 5px;
  box-shadow: 5px 10px #888888;
  background-color: $snow;
  // overflow: auto;
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
}

.intro-head {
  background-color: $primary-color;
  color: $snow;
  height: 30px;
  width: 100%;
}

.intro-para {
  width: 100%;

}

.intro-message {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-self: center;
  width: 90%;
  margin-top: 1%;
}

.ordered-list {
  margin-top: 20px;
}