$main-dark-color: #131515;
$primary-color: #2B2C28;
$darker-blue: #339989;
$pale-blue: #7DE2D1;
$snow: #FFFAFB;

* {
  margin: 0px;
  padding: 0px;
}

.main-app {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  background-color: $snow;
}